.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid saddlebrown;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: rgba(139, 0, 0, 0.7);

  /*   background-color: darkred;
 
  opacity: 0.8;*/
}

.modalInterno {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid saddlebrown;
  height: 80vh;
  width: 60vw;
  position: fixed;
  top: 10vh;
  left: 20vw;
  z-index: auto;
  background-color: lightcoral;
  opacity: 0.8;
}

.botonTransparentado {
  background-color: rgba(221, 221, 221, 0.3);
  font-weight: bolder;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 1px;
  margin: 1px;
}
.botonTransparentado:hover {
  background-color: rgba(221, 221, 221, 1);
  font-weight: bolder;
  border-radius: 10px;

  padding: 1px;
  margin: 1px;
}
.seccion {
  display: flex;
  flex-direction: column;
  border: 3px solid brown;
  border-radius: 8px;
  padding: 2px;
  margin: 2px;
}

.titulo {
  justify-content: center;
  margin: 2px;
  display: flex;
  border: 1px solid coral;
  border-radius: 8px;
  padding: 2px;
}

.coleccionCards {
  margin: 2px;
  display: flex;
  border: 3px solid coral;
  border-radius: 8px;
  padding: 2px;
}

.botonesDeSeccion {
  display: flex;
  margin: 2px;
  display: flex;
  border: 3px solid brown;

  border-radius: 8px;
  padding: 2px;
  justify-content: center;
}
.links {
  display: flex;
  flex-direction: column;
  margin: 2px;
  display: flex;
  border-radius: 8px;
  padding: 2px;
  border: 3px solid darkred;
}

.botoneraInCard {
  display: flex;
  flex-direction: column;
  margin: 2px;
  border-radius: 8px;
  padding: 2px;
  border: 1px solid brown;
}

.libroCard {
  width: 150px;
  height: 600px;
  border: 3px solid rebeccapurple;
  border-radius: 8px;
  margin: 5px;
  background-image: url("./imagenes/lomolibro.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: darkblue;
  font-weight: bolder;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prestatarios {
  display: flex;
  border: 3px solid brown;
  border-radius: 8px;
  padding: 2px;
  margin: 2px;
}

.personaCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 300px;
  border: 3px solid rebeccapurple;
  border-radius: 8px;
  margin: 2px;
  background-image: url("./imagenes/persona.png");

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  color: darkblue;
  font-weight: bolder;
  padding-top: 1em;
}

.categorias {
  display: flex;
  border: 3px solid brown;
  border-radius: 8px;
  padding: 2px;
  margin: 2px;
}

.categoriaCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 300px;
  border: 3px solid rebeccapurple;
  border-radius: 8px;
  margin: 2px;
  background-image: url("./imagenes/categorias.png");

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  color: darkblue;
  font-weight: bolder;
  padding-top: 1em;
}

.tablaLibros {
  display: table;
  align-content: center;
  border: 3px solid rebeccapurple;
  border-radius: 50%;
  border-collapse: collapse;
  margin: 5px;
}

.tablaLibros td,th {
  align-items: left;
  border: 1px solid rebeccapurple;
  border-radius: 50%;
  border-collapse: collapse;
  margin: 2px;
  padding: 5px;
}

.tablaLibros td {
  text-align: justify;
}

.App {
  text-align: center;
}
